.responsive-logo {
    max-width: 100px;
    /* Adjust the max-width as needed */
    height: auto;
}

@media (max-width: 768px) {
    .responsive-logo {
        max-width: 60px;
        /* Adjust the size for smaller screens */
    }
}

.form {
    min-height: 77px;
    font-size: 30px;
}

.form-gp {
    margin-bottom: 9.7em;
}

#map {
    height: 450px;;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.padd-head {
    padding-left: 0px;
}

.padd-content {
    padding-left: 0px;
}

.clock ul {
    font-size: 13px;
    font-weight: bolder;
    list-style: none;
    display: flex;
    /* Memusatkan horizontal */
    gap: 5px;
}

.ambilfotowrapper {
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    width: 600px;
    /* Memastikan wrapper memiliki lebar yang sama dengan capture webcam */
    height: 450px;
    /* Memastikan wrapper memiliki tinggi yang sama dengan capture webcam */
    position: relative;
}

.webcam-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
    background-color: #e0e0e0;
}

.webcam-capture,
.webcam-capture video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    /* Radius border yang sama dengan wrapper */
}

.foto {
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* Memastikan gambar menutupi seluruh area */
    border-radius: 10px;
    /* Radius border yang sama dengan wrapper */
    background-color: #e0e0e0;
}

/**
 * FilePond Custom Styles
 */
 .filepond--drop-label {
	color: #4c4e53;
}

.filepond--label-action {
	text-decoration-color: #babdc0;
}

.filepond--panel-root {
	border-radius: 2em;
	background-color: #edf0f4;
	height: 1em;
}

.filepond--item-panel {
	background-color: #595e68;
}

.filepond--drip-blob {
	background-color: #7f8a9a;
}
