.responsive-logo {
    max-width: 100px; /* Adjust the max-width as needed */
    height: auto;
}
@media (max-width: 768px) {
    .responsive-logo {
        max-width: 60px; /* Adjust the size for smaller screens */
    }
}

.form {
    min-height: 77px;
    font-size: 30px;
}

.form-gp {
    margin-bottom: 9.7em;
}

#map { height: 300px; }

